@import "../../style.scss";

.comments {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;

  @include themify($themes) {
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .writeComment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0px;
      gap: 20px;

      input {
        flex: 5;
        padding: 10px;
        border: 1px solid themed("border");
        background-color: transparent;
        color: themed("textColor");
        outline: none;
      }
      button {
        border: none;
        background-color: #5271ff;
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 3px;
      }
    }
    .comment {
      margin: 30px 0px;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .info {
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        span {
          font-weight: 500;
        }
        p {
          color: themed("textColorSoft");
          text-align: justify;
          margin: 0px;
        }
      }

      .date {
        flex: 1;
        align-self: center;
        color: gray;
        font-size: 12px;
      }
    }
  }
}
